In [1]:
!pip install selenium
!apt-get update
!apt install chromium-chromedriver
!pip install pymysql

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.4)

'apt-get'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.
'apt'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [225]:
import pandas as pd
import numpy as np
import pymysql
conn = pymysql.connect(host = '127.0.0.1',
                       port = 3306,
                       user = 'root',
                       password = 'root',
                       db = 'test')
print(type(conn))

<class 'pymysql.connections.Connection'>

In [226]:
cursor = conn.cursor() 
print(type(cursor))

<class 'pymysql.cursors.Cursor'>

In [11]:
cursor.execute("CREATE TABLE test2 (notice text, stack text, company text, url text)") 
conn.commit()

In [18]:
import requests
import timeit
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
# from kafka import KafkaProducer
import time
import os
import json

chrome_options = webdriver.ChromeOptions()
# chrome_options.add_argument('headless')  # 내부 창을 띄울 수 없으므로 설정
# chrome_options.add_argument('no-sandbox')
# chrome_options.add_argument('disable-dev-shm-usage')
driver = webdriver.Chrome(
    'C:\\Users\\minO\\Downloads\\chromedriver.exe', options=chrome_options)
time.sleep(1)
# producer = KafkaProducer(bootstrap_servers=['localhost:9092'],
#                          value_serializer=lambda v: json.dumps(v).encode('utf-8'))

def get_last():
    pages = driver.find_elements_by_class_name("page-link")
    last = int(pages[-2].text)
    return last


def get_urls(last):
    links = []
    for page in range(1, last+1):
        urls = driver.get(
            f"https://programmers.co.kr/job?min_salary=&min_career=&min_employees=&order=recent&page={page}")
        time.sleep(1)
        print(f"{page} 스크랩 중")
    #         html = driver.page_source
    #         soup = bs4.BeautifulSoup(html,"html.parser")
    #         hrefs = soup.select(.position-title).get['href']
        js = 'return [...document.querySelectorAll(".position-title a")].map(a=>a.href)'
        hrefs = driver.execute_script(js)

        for href in hrefs:
            link = href
            links.append(link)
    return links


def get_info(links):
    start_time = timeit.default_timer()
    recruit = []
    for number, link in enumerate(links):
        informations = {}
        stackinfo = []
        url = link
        driver.get(url)
        time.sleep(1)
        company = driver.find_elements_by_xpath("//h4[@class='sub-title'][1]")
        notice = driver.find_elements_by_xpath("//h2[@class='title']")

        stacks = driver.find_elements_by_xpath(
            "//tr[@class='heavy-use']//td//code")
        index = driver.find_elements_by_xpath(
            "//tbody//tr//td[@class='t-label']")
        content = driver.find_elements_by_xpath("//td[@class='t-content']")
        for c, n in zip(company, notice):

            company = c.text
            notice = n.text
        for s in stacks:
            stack = s.text
            stackinfo.append(stack)
        for i, c in zip(index, content):
            info = i.text
            content = c.text
            informations[info] = content
        doc = {
            'notice': notice,
            'url': url,
            'stack': stackinfo,
            'company': company,
            'information': informations
        }
        index = number+1
        recruit.append(doc)
        print(f"{index}번째 저장중")
        start = time.time()
        # producer.send('test', value=doc)
        # producer.flush()
    terminate_time = timeit.default_timer()
    print("%f초 걸렸습니다." % (terminate_time - start_time))
    # print("소요시간 :", time.time() - start)
    return recruit

In [19]:
test = get_info(get_urls(2))

1 스크랩 중
2 스크랩 중
1번째 저장중
2번째 저장중
3번째 저장중
4번째 저장중
5번째 저장중
6번째 저장중
7번째 저장중
8번째 저장중
9번째 저장중
10번째 저장중
11번째 저장중
12번째 저장중
13번째 저장중
14번째 저장중
15번째 저장중
16번째 저장중
17번째 저장중
18번째 저장중
19번째 저장중
20번째 저장중
21번째 저장중
22번째 저장중
23번째 저장중
24번째 저장중
25번째 저장중
26번째 저장중
27번째 저장중
28번째 저장중
29번째 저장중
30번째 저장중
31번째 저장중
32번째 저장중
33번째 저장중
34번째 저장중
35번째 저장중
36번째 저장중
37번째 저장중
38번째 저장중
39번째 저장중
40번째 저장중
82.583468초 걸렸습니다.

In [330]:
test

[{'notice': '[전문연구요원] 컴퓨터비전, 머신러닝, 딥러닝 (CNN)',
  'url': 'https://programmers.co.kr/job_positions/7126',
  'stack': ['C++', 'Tensorflow', 'PyTorch', 'Python'],
  'company': '큐픽스',
  'information': {'직무': '인공지능(AI)',
   '고용 형태': '정규직',
   '경력': '1 ~ 10년',
   '회사 규모': '38명',
   '주요 서비스': '3d digital twin for construction',
   '기간': '2021-09-07 10:37 부터 2021-10-31 23:59까지',
   '근무 위치': '경기 성남시 분당구 대왕판교로 670, (삼평동) B동 605호'}},
 {'notice': '[전문연구요원/프론트엔드] Angular/3D/WebGL/Computer Graphics',
  'url': 'https://programmers.co.kr/job_positions/7128',
  'stack': ['TypeScript', 'JavaScript', 'AngularJS'],
  'company': '큐픽스',
  'information': {'직무': '프론트엔드, 웹 풀스택, 응용 프로그램',
   '고용 형태': '정규직',
   '경력': '1 ~ 10년',
   '회사 규모': '38명',
   '주요 서비스': '3d digital twin for construction',
   '기간': '2021-09-07 10:50 부터 2021-10-31 23:59까지',
   '근무 위치': '경기 성남시 분당구 대왕판교로 670, (삼평동) B동 605호'}},
 {'notice': '[전문연구요원/백엔드(인프라)] AWS/Ruby/Elastic Stack',
  'url': 'https://programmers.co.kr/job_positions/7127',
  'stack': ['Elasticsearch',
   'Terraform',
   'Node.js',
   'Python',
   'Ruby on Rails'],
  'company': '큐픽스',
  'information': {'직무': '서버/백엔드, 게임 서버, 시스템 소프트웨어',
   '고용 형태': '정규직',
   '경력': '1 ~ 10년',
   '회사 규모': '38명',
   '주요 서비스': '3d digital twin for construction',
   '기간': '2021-09-07 10:43 부터 2021-10-31 23:59까지',
   '근무 위치': '경기 성남시 분당구 대왕판교로 670, (삼평동) B동 605호'}},
 {'notice': '[전문연구요원] iOS 개발 (AR/VR/네트워크)',
  'url': 'https://programmers.co.kr/job_positions/7129',
  'stack': ['Swift'],
  'company': '큐픽스',
  'information': {'직무': '아이폰 앱, 사물인터넷(IoT)',
   '고용 형태': '정규직',
   '경력': '1 ~ 10년',
   '회사 규모': '38명',
   '주요 서비스': '3d digital twin for construction',
   '기간': '2021-09-07 10:54 부터 2021-10-31 23:59까지',
   '근무 위치': '경기 성남시 분당구 대왕판교로 670, (삼평동) B동 605호'}},
 {'notice': 'Flutter 개발자',
  'url': 'https://programmers.co.kr/job_positions/3244',
  'stack': ['iOS', 'Android', 'flutter'],
  'company': '블루앤트',
  'information': {'직무': '안드로이드 앱, 아이폰 앱',
   '고용 형태': '정규직',
   '경력': '2 ~ 10년',
   '연봉': '4000 ~ 8000 만원',
   '회사 규모': '36명',
   '기간': '상시 채용',
   '근무 위치': '서울 강남구 테헤란로20길 10, (역삼동) 3M 타워 8층'}},
 {'notice': 'Flutter 개발자 (신입)',
  'url': 'https://programmers.co.kr/job_positions/7137',
  'stack': ['iOS', 'Android', 'flutter'],
  'company': '블루앤트',
  'information': {'직무': '안드로이드 앱, 아이폰 앱',
   '고용 형태': '정규직',
   '경력': '신입',
   '연봉': '3500 ~ 5000 만원',
   '회사 규모': '36명',
   '기간': '상시 채용',
   '근무 위치': '서울 강남구 테헤란로20길 10, (역삼동) 3M 타워 8층'}},
 {'notice': '교환렌즈 AF 펌웨어 개발자 모집',
  'url': 'https://programmers.co.kr/job_positions/7682',
  'stack': ['C#', 'C', 'C++'],
  'company': '삼양옵틱스',
  'information': {'직무': '시스템 소프트웨어',
   '고용 형태': '정규직',
   '경력': '3 ~ 15년',
   '연봉': '4300 ~ 6500 만원',
   '회사 규모': '126명',
   '주요 서비스': '카메라 교환렌즈, 머신비전 렌즈, 열화상카메라 제조',
   '기간': '상시 채용',
   '근무 위치': '서울 영등포구 여의공원로 101, (여의도동) 10층'}},
 {'notice': '메타버스(Metaverse) 서버 개발자',
  'url': 'https://programmers.co.kr/job_positions/7103',
  'stack': ['MongoDB', 'Redis', 'Spring', 'Go', 'Java'],
  'company': 'COCONE',
  'information': {'직무': '서버/백엔드, 모바일 게임, 게임 서버',
   '고용 형태': '정규직',
   '경력': '3 ~ 5년',
   '연봉': '3000 ~ 6000 만원',
   '회사 규모': '195명',
   '주요 서비스': '포켓미니, HelloSweetDays, MyLittleDoll, Sensil',
   '기간': '상시 채용',
   '근무 위치': '서울 강남구 학동로9길 19, (논현동)'}},
 {'notice': 'Front-end Engineer_Messenger 클라이언트',
  'url': 'https://programmers.co.kr/job_positions/5708',
  'stack': ['JavaScript'],
  'company': '오피지지(OP.GG)',
  'information': {'직무': '프론트엔드',
   '고용 형태': '정규직',
   '경력': '5 ~ 10년',
   '회사 규모': '65명',
   '주요 서비스': 'op.gg',
   '기간': '상시 채용',
   '근무 위치': '서울특별시 강남구 대치4동 삼성로85길 35-6'}},
 {'notice': 'Front-end Engineer_신규서비스(DUO.LOL 등)',
  'url': 'https://programmers.co.kr/job_positions/5706',
  'stack': ['JavaScript', 'CSS', 'HTML'],
  'company': '오피지지(OP.GG)',
  'information': {'직무': '프론트엔드',
   '고용 형태': '정규직',
   '경력': '5 ~ 10년',
   '회사 규모': '65명',
   '주요 서비스': 'op.gg',
   '기간': '상시 채용',
   '근무 위치': '서울특별시 강남구 대치4동 삼성로85길 35-6'}},
 {'notice': 'Backend 개발자',
  'url': 'https://programmers.co.kr/job_positions/2229',
  'stack': ['Go', 'Node.js'],
  'company': '에이아이트릭스',
  'information': {'직무': '서버/백엔드, 웹 풀스택',
   '고용 형태': '정규직',
   '경력': '2 ~ 10년',
   '회사 규모': '41명',
   '기간': '상시 채용',
   '근무 위치': '서울 서초구 효령로77길 28, (서초동 동오빌딩) 7층'}},
 {'notice': '웹 프론트엔드 개발자',
  'url': 'https://programmers.co.kr/job_positions/2083',
  'stack': ['Zeplin',
   'Nuxt.js',
   'Next.js',
   'MobX',
   'Parcel',
   'Webpack',
   'GraphQL',
   'TypeScript',
   'Electron',
   'Redux.js',
   'ThreeJS',
   'D3.js',
   'ReactJS',
   'Vue.js',
   'JavaScript'],
  'company': '에이아이트릭스',
  'information': {'직무': '프론트엔드',
   '고용 형태': '정규직',
   '경력': '2 ~ 7년',
   '회사 규모': '41명',
   '기간': '상시 채용',
   '근무 위치': '서울 서초구 효령로77길 28, (서초동 동오빌딩) 7층'}},
 {'notice': 'iOS 개발자',
  'url': 'https://programmers.co.kr/job_positions/2644',
  'stack': ['Objective-C', 'iOS', 'Swift'],
  'company': '푸시',
  'information': {'직무': '아이폰 앱',
   '고용 형태': '정규직',
   '경력': '3 ~ 10년',
   '회사 규모': '54명',
   '주요 서비스': '데이터베이스 제공',
   '기간': '상시 채용',
   '근무 위치': '서울 영등포구 국회대로70길 19, (여의도동)'}},
 {'notice': 'Node.js / Python /Java 프론트/백엔드 웹개발자',
  'url': 'https://programmers.co.kr/job_positions/6590',
  'stack': ['MySQL', 'Spring', 'Git', 'Java', 'Python', 'Node.js'],
  'company': '유니온콘텐츠',
  'information': {'직무': '서버/백엔드, 프론트엔드, 웹 풀스택',
   '고용 형태': '정규직',
   '경력': '1 ~ 10년',
   '연봉': '3000 ~ 5000 만원',
   '회사 규모': '9명',
   '기간': '상시 채용',
   '근무 위치': '서울 금천구 디지털로 121, (가산동)'}},
 {'notice': 'Java 서버 개발자',
  'url': 'https://programmers.co.kr/job_positions/4645',
  'stack': ['Spring', 'Java'],
  'company': 'COCONE',
  'information': {'직무': '서버/백엔드, 게임 서버',
   '고용 형태': '정규직',
   '경력': '4 ~ 10년',
   '연봉': '3000 ~ 8000 만원',
   '회사 규모': '195명',
   '주요 서비스': '포켓미니, HelloSweetDays, MyLittleDoll, Sensil',
   '기간': '상시 채용',
   '근무 위치': '서울 강남구 학동로9길 19, (논현동)'}},
 {'notice': '프론트엔드 엔지니어 (react)',
  'url': 'https://programmers.co.kr/job_positions/3238',
  'stack': ['Git', 'Bootstrap', 'CSS', 'HTML', 'JavaScript'],
  'company': '푸시',
  'information': {'직무': '프론트엔드',
   '고용 형태': '정규직',
   '경력': '2 ~ 10년',
   '회사 규모': '54명',
   '주요 서비스': '데이터베이스 제공',
   '기간': '상시 채용',
   '근무 위치': '서울 영등포구 국회대로70길 19, (여의도동)'}},
 {'notice': '안드로이드 앱 개발자',
  'url': 'https://programmers.co.kr/job_positions/2729',
  'stack': ['JIRA', 'Git', 'REST API', 'Android', 'Java'],
  'company': '푸시',
  'information': {'직무': '안드로이드 앱',
   '고용 형태': '정규직',
   '경력': '경력 무관',
   '회사 규모': '54명',
   '주요 서비스': '데이터베이스 제공',
   '기간': '상시 채용',
   '근무 위치': '서울 영등포구 국회대로70길 19, (여의도동)'}},
 {'notice': '서버 개발 백엔드 엔지니어(Node.js/java)',
  'url': 'https://programmers.co.kr/job_positions/3315',
  'stack': ['Git',
   'Sequelize.js',
   'ExpressJS',
   'Node.js',
   'AWS S3',
   'Aurora DB',
   'AWS ElasticBeanstalk'],
  'company': '푸시',
  'information': {'직무': '서버/백엔드',
   '고용 형태': '정규직',
   '경력': '2 ~ 10년',
   '회사 규모': '54명',
   '주요 서비스': '데이터베이스 제공',
   '기간': '상시 채용',
   '근무 위치': '서울 영등포구 국회대로70길 19, (여의도동)'}},
 {'notice': 'IP카메라 & 인프라 시스템 개발자 (근무지 : 런던 또는 서울)',
  'url': 'https://programmers.co.kr/job_positions/7528',
  'stack': ['Linux', 'Python'],
  'company': '비프로컴퍼니',
  'information': {'직무': '인공지능(AI), 시스템/네트워크, 시스템 소프트웨어',
   '고용 형태': '정규직',
   '경력': '3 ~ 10년',
   '회사 규모': '49명',
   '기간': '상시 채용',
   '근무 위치': '서울 종로구 종로 51, (종로2가)'}},
 {'notice': '안드로이드(AOS) 개발자',
  'url': 'https://programmers.co.kr/job_positions/7574',
  'stack': ['Docker',
   'Android',
   'MVVM(Model-View-ViewModel)',
   'Retrofit2',
   'Java',
   'Kotlin'],
  'company': '카닥',
  'information': {'직무': '안드로이드 앱, 아이폰 앱, 인공지능(AI)',
   '고용 형태': '정규직',
   '경력': '3 ~ 10년',
   '회사 규모': '53명',
   '기간': '상시 채용',
   '근무 위치': '서울 송파구 법원로11길 12, (문정동) 8층'}},
 {'notice': 'IMS모빌리티 백엔드 개발자 (Backend Developer - Go)',
  'url': 'https://programmers.co.kr/job_positions/7781',
  'stack': ['Flask', 'Linux', 'Go'],
  'company': '아이엠에스모빌리티',
  'information': {'직무': '서버/백엔드',
   '고용 형태': '정규직',
   '경력': '2 ~ 10년',
   '회사 규모': '55명',
   '주요 서비스': 'IMS.form',
   '기간': '상시 채용',
   '근무 위치': '서울 광진구 아차산로 355 타워더모스트광진아크로텔 3층 (자양동)'}},
 {'notice': 'IMS모빌리티 백엔드 개발자 (Backend Developer - Python)',
  'url': 'https://programmers.co.kr/job_positions/7780',
  'stack': ['PHP', 'Flask', 'Python'],
  'company': '아이엠에스모빌리티',
  'information': {'직무': '서버/백엔드',
   '고용 형태': '정규직',
   '경력': '2 ~ 10년',
   '회사 규모': '55명',
   '주요 서비스': 'IMS.form',
   '기간': '상시 채용',
   '근무 위치': '서울 광진구 아차산로 355 타워더모스트광진아크로텔 3층 (자양동)'}},
 {'notice': 'iOS 개발자',
  'url': 'https://programmers.co.kr/job_positions/3869',
  'stack': ['Objective-C', 'Swift'],
  'company': 'OGQ',
  'information': {'직무': '아이폰 앱',
   '고용 형태': '정규직',
   '경력': '0 ~ 10년',
   '연봉': '3000 ~ 6000 만원',
   '회사 규모': '58명',
   '주요 서비스': '네이버 OGQ마켓, 아프리카TV OGQ마켓',
   '기간': '상시 채용',
   '근무 위치': '서울시 강남구 도곡동 514-1 튼튼영어빌딩 10층, OGQ'}},
 {'notice': '안드로이드 개발자',
  'url': 'https://programmers.co.kr/job_positions/3868',
  'stack': ['Java', 'Retrofit', 'Firebase', 'Gradle', 'Kotlin', 'Android'],
  'company': 'OGQ',
  'information': {'직무': '안드로이드 앱',
   '고용 형태': '정규직',
   '경력': '5 ~ 10년',
   '연봉': '3000 ~ 6000 만원',
   '회사 규모': '58명',
   '주요 서비스': '네이버 OGQ마켓, 아프리카TV OGQ마켓',
   '기간': '상시 채용',
   '근무 위치': '서울시 강남구 도곡동 514-1 튼튼영어빌딩 10층, OGQ'}},
 {'notice': '프론트엔드 개발자',
  'url': 'https://programmers.co.kr/job_positions/5828',
  'stack': ['REST API',
   'AWS EC2',
   'Sass(SCSS)',
   'AngularJS',
   'ReactJS',
   'Node.js',
   'Vue.js',
   'CSS',
   'HTML',
   'JavaScript'],
  'company': 'OGQ',
  'information': {'직무': '프론트엔드, 웹 풀스택',
   '고용 형태': '정규직',
   '경력': '2 ~ 10년',
   '연봉': '3000 ~ 8000 만원',
   '회사 규모': '58명',
   '주요 서비스': '네이버 OGQ마켓, 아프리카TV OGQ마켓',
   '기간': '상시 채용',
   '근무 위치': '서울시 강남구 도곡동 514-1 튼튼영어빌딩 10층, OGQ'}},
 {'notice': '서버 개발자',
  'url': 'https://programmers.co.kr/job_positions/4064',
  'stack': ['RabbitMQ',
   'AWS RDS',
   'AWS EC2',
   'HTML',
   'Elasticsearch',
   'Spring Boot',
   'AWS ECS',
   'Redis',
   'Spring',
   'JavaScript',
   'Git',
   'Docker',
   'MySQL',
   'Java'],
  'company': 'OGQ',
  'information': {'직무': '서버/백엔드, 웹 풀스택',
   '고용 형태': '정규직',
   '경력': '경력 무관',
   '회사 규모': '58명',
   '주요 서비스': '네이버 OGQ마켓, 아프리카TV OGQ마켓',
   '기간': '상시 채용',
   '근무 위치': '서울시 강남구 도곡동 514-1 튼튼영어빌딩 10층, OGQ'}},
 {'notice': '프론트엔드 엔지니어 (Frontend Engineer)',
  'url': 'https://programmers.co.kr/job_positions/747',
  'stack': ['Ionic',
   'Apache Cordova',
   'OOP',
   'JavaScript',
   'Vue.js',
   'React Native',
   'Database',
   'Angular',
   'HTML5'],
  'company': '자란다',
  'information': {'직무': '프론트엔드',
   '고용 형태': '정규직',
   '경력': '3 ~ 10년',
   '회사 규모': '58명',
   '주요 서비스': '(주)자란다',
   '기간': '2021-10-18 10:00 부터 2021-10-31 23:53까지',
   '근무 위치': '서울 강남구 테헤란로 431, (삼성동)'}},
 {'notice': 'PHP 개발자',
  'url': 'https://programmers.co.kr/job_positions/5897',
  'stack': ['MySQL', 'Laravel', 'PHP'],
  'company': '엑스이허브',
  'information': {'직무': '서버/백엔드, 웹 풀스택',
   '고용 형태': '정규직',
   '경력': '1 ~ 3년',
   '회사 규모': '16명',
   '주요 서비스': 'XpressEngine',
   '기간': '상시 채용',
   '근무 위치': '서울 강남구 논현로149길 67-10, (논현동)'}},
 {'notice': '그로스 엔지니어',
  'url': 'https://programmers.co.kr/job_positions/6217',
  'stack': ['Angular',
   'Kotlin',
   'Tableau',
   'Google Cloud Scheduler',
   'GCP(Google Cloud Platform)'],
  'company': '자란다',
  'information': {'직무': '서버/백엔드, 프론트엔드, 데이터 엔지니어',
   '고용 형태': '정규직',
   '경력': '2 ~ 7년',
   '회사 규모': '58명',
   '주요 서비스': '(주)자란다',
   '기간': '2021-10-18 10:40 부터 2021-10-31 23:55까지',
   '근무 위치': '서울 강남구 테헤란로 431, (삼성동)'}},
 {'notice': '보충역 산업기능요원 개발자',
  'url': 'https://programmers.co.kr/job_positions/7778',
  'stack': ['Spring', 'Java', 'ReactJS', 'Python', 'JavaScript', 'MySQL'],
  'company': '보이스루',
  'information': {'직무': '서버/백엔드, 프론트엔드, 웹 풀스택',
   '고용 형태': '정규직',
   '경력': '경력 무관',
   '연봉': '3300 ~ 6000 만원',
   '회사 규모': '50명',
   '주요 서비스': '자메이크, 밍글로, 파노플레이',
   '기간': '2021-10-18 16:48 부터 2021-10-31 23:59까지',
   '근무 위치': '서울 서초구 강남대로 311, 13층 1301호(서초동)'}},
 {'notice': '데이터 엔지니어',
  'url': 'https://programmers.co.kr/job_positions/2755',
  'stack': ['SQL', 'GCP(Google Cloud Platform)', 'Python'],
  'company': '자란다',
  'information': {'직무': '서버/백엔드, 머신러닝, 데이터 엔지니어',
   '고용 형태': '정규직',
   '경력': '3 ~ 7년',
   '회사 규모': '58명',
   '주요 서비스': '(주)자란다',
   '기간': '2021-10-18 06:02 부터 2021-10-31 11:59까지',
   '근무 위치': '서울 강남구 테헤란로 431, (삼성동)'}},
 {'notice': 'NLP 엔지니어',
  'url': 'https://programmers.co.kr/job_positions/5938',
  'stack': ['Database', 'SQL', 'Google Cloud Platform', 'NLP', 'Python'],
  'company': '자란다',
  'information': {'직무': '머신러닝, 인공지능(AI), 데이터 엔지니어',
   '고용 형태': '정규직',
   '경력': '3 ~ 7년',
   '회사 규모': '58명',
   '주요 서비스': '(주)자란다',
   '기간': '2021-10-18 07:05 부터 2021-10-31 23:59까지',
   '근무 위치': '서울 강남구 테헤란로 431, (삼성동)'}},
 {'notice': 'Tech Lead',
  'url': 'https://programmers.co.kr/job_positions/5939',
  'stack': ['AngularJS',
   'REST API',
   'C#',
   'CSS',
   'Git',
   'ES6',
   'C++',
   'C',
   'ReactJS',
   'MySQL',
   'jQuery',
   'Python',
   'Java'],
  'company': '자란다',
  'information': {'직무': '서버/백엔드, 프론트엔드, 응용 프로그램',
   '고용 형태': '정규직',
   '경력': '6 ~ 14년',
   '회사 규모': '58명',
   '주요 서비스': '(주)자란다',
   '기간': '2021-10-18 10:08 부터 2021-10-31 23:55까지',
   '근무 위치': '서울 강남구 테헤란로 431, (삼성동)'}},
 {'notice': '서버 개발자',
  'url': 'https://programmers.co.kr/job_positions/6295',
  'stack': ['Elasticsearch', 'MySQL', 'R', 'AWS Redshift', 'Python'],
  'company': '아티언스',
  'information': {'직무': '서버/백엔드, 웹 풀스택, 데이터 엔지니어',
   '고용 형태': '정규직',
   '경력': '3 ~ 5년',
   '회사 규모': '89명',
   '기간': '상시 채용',
   '근무 위치': '서울 마포구 양화로 45, (서교동, 메세나폴리스)'}},
 {'notice': '백엔드 엔지니어(Backend Engineer)',
  'url': 'https://programmers.co.kr/job_positions/5937',
  'stack': ['Python',
   'REST API',
   'MySQL',
   'Firebase',
   'MVP',
   'MVC',
   'MVVM(Model-View-ViewModel)',
   'NoSQL',
   'Tableau',
   'Google BigQuery',
   'Google Cloud Platform'],
  'company': '자란다',
  'information': {'직무': '서버/백엔드',
   '고용 형태': '정규직',
   '경력': '3 ~ 7년',
   '회사 규모': '58명',
   '주요 서비스': '(주)자란다',
   '기간': '2021-10-18 06:02 부터 2021-10-31 23:55까지',
   '근무 위치': '서울 강남구 테헤란로 431, (삼성동)'}},
 {'notice': '검색/추천 Backend Developer (Search/Recommendation)',
  'url': 'https://programmers.co.kr/job_positions/6094',
  'stack': [],
  'company': '버킷플레이스(오늘의집)',
  'information': {'직무': '서버/백엔드, 데이터 엔지니어, 응용 프로그램',
   '고용 형태': '정규직',
   '경력': '3 ~ 10년',
   '회사 규모': '319명',
   '주요 서비스': '오늘의집',
   '기간': '상시 채용',
   '근무 위치': '서울 서초구 서초대로74길 4, 삼성생명서초타워 27층'}},
 {'notice': '백엔드 개발자 (Node.js)',
  'url': 'https://programmers.co.kr/job_positions/7570',
  'stack': ['PHP',
   'Git',
   'Elasticsearch',
   'MongoDB',
   'Spring',
   'Docker',
   'MySQL',
   'NestJS',
   'Node.js'],
  'company': '카닥',
  'information': {'직무': '서버/백엔드, 프론트엔드, 웹 풀스택',
   '고용 형태': '정규직',
   '경력': '3 ~ 10년',
   '회사 규모': '53명',
   '기간': '상시 채용',
   '근무 위치': '서울 송파구 법원로11길 12, (문정동) 8층'}},
 {'notice': '프론트엔드 엔지니어(리더급)',
  'url': 'https://programmers.co.kr/job_positions/3294',
  'stack': ['Redux.js', 'CSS', 'HTML', 'JavaScript', 'ReactJS', 'TypeScript'],
  'company': '모두싸인',
  'information': {'직무': '프론트엔드',
   '고용 형태': '정규직',
   '경력': '5 ~ 8년',
   '회사 규모': '58명',
   '주요 서비스': '모두싸인',
   '기간': '상시 채용',
   '근무 위치': '서울 강남구 테헤란로 431, (삼성동) 저스트코타워6층'}},
 {'notice': '프론트엔드 엔지니어',
  'url': 'https://programmers.co.kr/job_positions/3292',
  'stack': ['TypeScript', 'ReactJS', 'JavaScript', 'HTML', 'CSS', 'Redux.js'],
  'company': '모두싸인',
  'information': {'직무': '프론트엔드',
   '고용 형태': '정규직',
   '경력': '3 ~ 10년',
   '회사 규모': '58명',
   '주요 서비스': '모두싸인',
   '기간': '상시 채용',
   '근무 위치': '서울 강남구 테헤란로 431, (삼성동) 저스트코타워6층'}},
 {'notice': '백엔드 엔지니어',
  'url': 'https://programmers.co.kr/job_positions/3291',
  'stack': ['AWS S3',
   'Apache Aurora',
   'AWS ECS',
   'AWS Simple Notification Service(AWS SNS)',
   'AWS Simple Queue Service(AWS SQS)',
   'Git',
   'Docker',
   'MySQL',
   'Node.js'],
  'company': '모두싸인',
  'information': {'직무': '서버/백엔드',
   '고용 형태': '정규직',
   '경력': '3 ~ 7년',
   '회사 규모': '58명',
   '주요 서비스': '모두싸인',
   '기간': '상시 채용',
   '근무 위치': '서울 강남구 테헤란로 431, (삼성동) 저스트코타워6층'}}]

In [249]:
cursor.execute("DROP TABLE IF EXISTS test1")
create_table = '''
CREATE TABLE test1 (
`id` int AUTO_INCREMENT,
`notice` VARCHAR(200) NOT NULL, 
`url` text NOT NULL NOT NULL, 
`company` VARCHAR(20) NOT NULL,
`stack` VARCHAR(999),
PRIMARY KEY(id)
)
'''
cursor.execute(create_table)

0

In [274]:

query = "INSERT INTO test1 (notice,url,company) VALUES (%s, %s, %s)"
n = 0
for t in test: 
    n = t['notice'].strip('')
    u = t['url'].strip('')
    c = t['company'].strip('')
    data = n,u,c
    cursor.execute(query, data) 
conn.commit()

In [387]:
for t in test: 
    n = t['information']
    a = n.get('연봉')
    print(a)

None
None
None
None
4000 ~ 8000 만원
3500 ~ 5000 만원
4300 ~ 6500 만원
3000 ~ 6000 만원
None
None
None
None
None
3000 ~ 5000 만원
3000 ~ 8000 만원
None
None
None
None
None
None
None
3000 ~ 6000 만원
3000 ~ 6000 만원
3000 ~ 8000 만원
None
None
None
None
3300 ~ 6000 만원
None
None
None
None
None
None
None
None
None
None

In [331]:
cursor.execute("DROP TABLE IF EXISTS test2")
create_table2 = '''
CREATE TABLE test2 (
`id2` int AUTO_INCREMENT,
notice VARCHAR(200) NOT NULL,
position VARCHAR(200),
stack JSON,
PRIMARY KEY(id2)
)
'''
cursor.execute(create_table2)

0

In [341]:
query = "INSERT INTO test2 (notice,position,) VALUES (%s, %s)"
n = 0
for t in test: 
    n = t['notice'].strip('')
    p = t['company']['information']['Position'].strip('')
    data = n,p
    cursor.execute(query, data) 
conn.commit()

TypeError: string indices must be integers

In [326]:
cursor.execute("DROP TABLE IF EXISTS test4")
create_table = '''
CREATE TABLE test4 (
`id` int AUTO_INCREMENT,
`Position` VARCHAR(200) NOT NULL, 
`Experiences` VARCHAR(200) NOT NULL, 
`Principal Services` VARCHAR(200) NOT NULL, 
`Period` VARCHAR(200) NOT NULL, 
`Work Location` VARCHAR(200) NOT NULL, 
`Salary` VARCHAR(200) NOT NULL, 
PRIMARY KEY(id)
)
'''
cursor.execute(create_table)

0

In [328]:
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://root:"+"root"+"@127.0.0.1:3306/test?charset=utf8",encoding='utf-8')
minho = engine.connect()
from pandas import json_normalize
# query = "INSERT INTO test1 (notice,url,company) VALUES (%s, %s, %s)"
for t in test:
    df = pd.json_normalize(t['information'])
    df.to_sql(name='test5', con=engine, if_exists='replace', index=False)
#     u = t['url'].strip('')
#     c = t['company'].strip('')
#     s = t['stack'][0]
#     data = n,u,c,s
#     cursor.execute(query, data) 
# conn.commit()

In [307]:

df = pd.json_normalize(test)
del df['stack']
df.columns = ['Notice','Url','Company','Position','Employment Type','Experiences','Company Size','Principal Services','Period','Work Location','Salary']

# df.to_sql(name='test5', con=engine, if_exists='replace', index=False)
# df.to_sql(name='test5', con=engine, if_exists='replace', index=False)
df
df.to_sql(name='test5', con=engine, if_exists='replace', index=False)

In [324]:
for i in test:
    df5 = pd.json_normalize(i)
    df6 = pd.DataFrame(df5['stack'])
df6.to_sql(name='test5', con=engine, if_exists='replace', index=False)

OperationalError: (pymysql.err.OperationalError) (1241, 'Operand should contain 1 column(s)')
[SQL: INSERT INTO test5 (stack) VALUES (%(stack)s)]
[parameters: {'stack': ['AWS S3', 'Apache Aurora', 'AWS ECS', 'AWS Simple Notification Service(AWS SNS)', 'AWS Simple Queue Service(AWS SQS)', 'Git', 'Docker', 'MySQL', 'Node.js']}]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [211]:
n=0
for i in test[n]['information']:
    print(i)

직무
고용 형태
경력
회사 규모
주요 서비스
기간
근무 위치